<h1><%= presenter.month %></h1>
<div class="asof">(As of <%= presenter.date.strftime("%-m/%-d/%Y") %>)</div>

<p class="sidenote">
  To join the box league or find out more information, please email us at ucsfbox@gmail.com.
</p>

<% presenter.boxes.each do |box| %>
  <div class="box">
    <h5>Box <%= box['number'] %></h5>
    <table>
      <thead>
        <tr>
          <td>Player</td>
          <td>Points</td>
          <td>Won</td>
          <td>Lost</td>
          <% box['opponents'].each do |opponent| %>
          <td><%= opponent %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% box['players'].each do |number, player| %>
          <tr>
            <td><%= number %>. <%= player['name'] %></td>
            <td><%= player['points'] %></td>
            <td><%= player['won'] %></td>
            <td><%= player['lost'] %></td>
            <% player['scores'].each do |score| %>
            <td><%= score %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
