<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Box</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, print">
  </head>
  <body>
    <h1><%= data['month'] %></h1>
    <div class="asof">(As of <%= date.strftime("%-m/%-d/%Y") %>)</div>

    <% data['boxes'].each do |box| %>
      <div class="box">
        <h5>Box <%= box['number'] %></h5>
        <table>
          <thead>
            <tr>
              <td>Player</td>
              <td>Points</td>
              <td>Won</td>
              <td>Lost</td>
              <% box['opponents'].each do |opponent| %>
              <td><%= opponent %></td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% box['players'].each do |number, player| %>
              <tr>
                <td><%= number %>. <%= player['name'] %></td>
                <td><%= player['points'] %></td>
                <td><%= player['won'] %></td>
                <td><%= player['lost'] %></td>
                <% player['scores'].each do |score| %>
                <td><%= score %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </body>
</html>
